* {
    outline: solid 2px red;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #070708, #070708, #363945, #363945);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 0px;
    font-size: 7.03vh;
    font-family: Pacifico;
    color: white;
}

h2 {

    font-size: 3.84vh;
    font-family: Bellota;
    color: white;
}

section {
    background-image: url(./bateria.png);
    height: 65.19vh;
    width: 58.98vw;
    background-size: cover;
    box-shadow: 0px 0px 30px 10px rgba(252, 245, 245, 0.25);
    overflow: hidden;
    /*Para que lo que salga de la seccion no se vea*/
}

#platilloDerecho {
    background-color: rgb(30, 255, 0);
    width: 510px;
    height: 310px;
    border-radius: 50%;
    margin-top: -445px;
    margin-left: 908px;
    cursor: pointer;
    opacity: 0.5;
}

#platilloIzquierdoAlto {
    background-color: aqua;
    width: 420px;
    height: 220px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: -76px;
    cursor: pointer;
    opacity: 0.5;
}

#platilloIzquierdoBajo {
    background-color: rgb(238, 0, 255);
    width: 350px;
    height: 180px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: -30px;
    cursor: pointer;
    opacity: 0.5;
    rotate: -7deg;
}

#tamborIzquierdo {
    background-color: blue;
    width: 345px;
    height: 230px;
    border-radius: 50%;
    margin-top: 160px;
    margin-left: 70px;
    cursor: pointer;
    opacity: 0.5;
    rotate: -5deg;
}

#bombo {
    background-color: coral;
    width: 370px;
    height: 330px;
    border-radius: 50%;
    margin-top: -230px;
    margin-left: 430px;
    opacity: 0.5;
    cursor: pointer;

}

#tamborDerecho {
    background-color: rgb(217, 217, 17);
    width: 410px;
    height: 255px;
    border-radius: 50%;
    margin-top: -350px;
    margin-left: 810px;
    rotate: 6deg;
    opacity: 0.5;
    cursor: pointer;
}

#izquierdoSuperior {
    width: 220px;
    height: 190px;
    background-color: midnightblue;
    border-radius: 50%;
    margin-top: -570px;
    margin-left: 350px;
    opacity: 0.5;
    cursor: pointer;
}