*{
    /* outline: solid 0.5px red; */
    
}

body {
    cursor: none;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #070708, #070708, #363945, #363945);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 0px;
    font-size: 7.03vh;
    font-family: Pacifico;
    color: white;
}

h2 {
    font-size: 3.84vh;
    font-family: Bellota;
    color: white;
}

main {
    display: flex;
    align-items: center;
}

#leyenda {
    height: 65.19vh;
    position: absolute;
    right: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tituloTeclas {
    background-color: #D1D0CF;
    width: 245px;
    height: 65px;
    border-radius: 10px;
    font-size: 48px;
    font-family: Bellota;
    color: #363945;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.contenedorTeclas {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article {
    height: 55px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.tecla {
    width: 55px;
    height: 55px;
    background-color: #D1D0CF;
    border-radius: 10px;
    font-family: Bellota;
    font-size: 48px;
    color: #363945;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    box-shadow: 0px 0px 7px 8px rgba(252, 245, 245, 0.5);
}

p {
    font-family: Bellota;
    font-size: 22px;
    color: white;
    margin-left: 10px;
}


#bateria {
    background-image: url(./bateria.png);
    height: 65.19vh;
    width: 58.98vw;
    background-size: cover;
    box-shadow: 0px 0px 30px 10px rgba(252, 245, 245, 0.25);
    overflow: hidden;
}

#platilloDerecho {
    background-color: rgb(30, 255, 0);
    width: 510px;
    height: 310px;
    border-radius: 50%;
    margin-top: -445px;
    margin-left: 908px;
    opacity: 0.5;
}

#platilloIzquierdoAlto {
    background-color: aqua;
    width: 420px;
    height: 220px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: -76px;
    opacity: 0.5;
}

#platilloIzquierdoBajo {
    background-color: rgb(238, 0, 255);
    width: 350px;
    height: 180px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: -30px;
    opacity: 0.5;
    rotate: -7deg;
}

#tamborIzquierdo {
    background-color: blue;
    width: 345px;
    height: 230px;
    border-radius: 50%;
    margin-top: 160px;
    margin-left: 70px;
    opacity: 0.5;
    rotate: -5deg;
}

#bombo {
    background-color: coral;
    width: 370px;
    height: 330px;
    border-radius: 50%;
    margin-top: -230px;
    margin-left: 430px;
    opacity: 0.5;

}

#tamborDerecho {
    background-color: rgb(217, 217, 17);
    width: 410px;
    height: 255px;
    border-radius: 50%;
    margin-top: -350px;
    margin-left: 810px;
    rotate: 6deg;
    opacity: 0.5;
}

#izquierdoSuperior {
    width: 220px;
    height: 190px;
    background-color: midnightblue;
    border-radius: 50%;
    margin-top: -570px;
    margin-left: 350px;
    opacity: 0.5;
 }
 
#derechoSuperior {
width: 240px;
height: 190px;
background-color: chocolate;
border-radius: 50%;
margin-top: -190px; 
margin-left: 650px;
opacity: 0.5;
}

/* ... (Otros estilos) ... */

#cursorLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    z-index: 0; /* Asegura que el cursor esté en la parte superior */
}

#customCursor {
    position: absolute;
    width: 202px; /* Ancho de la imagen de cursor personalizado */
    height: 202px; /* Alto de la imagen de cursor personalizado */
    background: url('./baqueta.png') no-repeat; /* URL de la imagen personalizada */
    background-size: cover;
    rotate: 45deg;
}


